<form ng-submit="save()">
  <div class="form-group row">
    <div class="col-xs-6">
      <label for="student-name">Nome</label>
      <input type="text" ng-model="students.selectedStudent.name" class="form-control" required/>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-xs-4">
      <label for="student-name">Matrícula</label>
      <input type="text"
             ng-model="students.selectedStudent.register_number"
             mask="9999.9999",
             placeholder="Ex.: 1234.5678"
             class="form-control" required/>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="col-xs-4">
      <label for="student-name">Situação</label>
      <select ng-model="students.selectedStudent.status" class="form-control">
        <option value="0">Ativo</option>
        <option value="1">Inativo</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary">
        <span ng-if="!students.isSaving">Enviar</span>
        <span ng-if="students.isSaving">Enviando...</span>
      </button>
    </div>
  </div>
</form>
