<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-striped">
      <thead>
        <th>Nome</th>
        <th>Registro</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="student in students.list">
          <td class="col-sm-5">{{ student.name }}</td>
          <td class="col-sm-2">{{ student.register_number }}</td>
          <td class="col-sm-1">{{ student.status }}</td>
          <td class="col-sm-1"><a ui-sref="edit-student({id: student.id})">Editar</a></td>
          <td class="col-sm-1"><a ng-click="removeStudent(student)">Remover</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

