<div class="row">
  <div class="col-xs-12">
    <h1>Alunos</h1>
  </div>

  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <a ui-sref="newStudent" class="btn btn-primary pull-right">Novo</a></div>
        <table class="table table-striped" ng-if="!students.isLoading && !students.isDeleting">
          <thead>
            <th class="col-sm-5">Nome</th>
            <th class="col-sm-2 text-center">Registro</th>
            <th class="col-sm-1 text-center">Situação</th>
            <th class="col-sm-1"></th>
            <th class="col-sm-1"></th>
          </thead>
          <tbody>
            <tr ng-if="students.list.length == 0" class="warning">
              <td colspan="5" class="text-center">Nenhum aluno cadastrado...</td>
            </tr>
            <tr ng-repeat="student in students.list">
              <td>{{ student.name }}</td>
              <td class="text-center">{{ student.register_number }}</td>
              <td class="text-center">{{ student.status | studentStatus }}</td>
              <td class="text-right"><a ui-sref="editStudent({studentId: student.id})">Editar</a></td>
              <td class="text-right"><a ng-click="removeStudent(student)">Remover</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xs-12 text-center" ng-if="students.isLoading || students.isDeleting" style="padding-top: 100px">
    <span us-spinner style="padding-top: 200px"></span>
    <span ng-if="students.isDeleting">Removendo...</span>
    <span ng-if="students.isLoading">Carregando...</span>
  </div>
</div>

