<div class="row">
  <div class="col-xs-12">
    <h1>Matrículas no Curso de {{ classrooms.selectedCourse.name }}</h1>
    <hr></hr>
  </div>

  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Alunos Matriculados</h4></div>
      <div class="panel-body">
        <table class="table" ng-if="!classrooms.isLoading && !classrooms.isDeleting">
          <thead>
            <th class="col-sm-5">Nome</th>
            <th class="col-sm-1 text-center">Registro</th>
            <th class="col-sm-1 text-center">Situação</th>
          </thead>
          <tbody>
            <tr ng-if="classrooms.list.length == 0" class="warning">
              <td colspan="5" class="text-center">Nenhum aluno matriculado...</td>
            </tr>
            <tr ng-repeat="classroom in classrooms.list"
                ng-class="{'active': classroom.student.id == classrooms.selectedStudent.id}"
                ng-click="classrooms.selectedStudent = classroom.student; classrooms.mode = 'remove'">
              <td>{{ classroom.student.name }}</td>
              <td class="text-center">{{ classroom.student.register_number }}</td>
              <td class="text-center">{{ classroom.student.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xs-2 enrollment-btns">
    <p><a class="btn btn-primary" ng-show="classrooms.mode === 'enroll'"><< Matricular</a></p>
    <p><a class="btn btn-danger" ng-show="classrooms.mode == 'remove'">Desmatricular >></a></p>
  </div>

  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Selecione para matrícula</h4></div>
      <div class="panel-body">
        <table class="table" ng-if="!classrooms.isLoading && !classrooms.isDeleting">
          <thead>
            <th class="col-sm-5">Nome</th>
            <th class="col-sm-1 text-center">Registro</th>
            <th class="col-sm-1 text-center">Situação</th>
          </thead>
          <tbody>
            <tr ng-if="classrooms.studentsForEnrollment.length == 0" class="warning">
              <td colspan="5" class="text-center">Nenhum aluno matriculado...</td>
            </tr>
            <tr ng-repeat="student in classrooms.studentsForEnrollment"
                ng-class="{'active': student.id == classrooms.selectedStudent.id}"
                ng-click="classrooms.selectedStudent = student; classrooms.mode = 'enroll'">
              <td>{{ student.name }}</td>
              <td class="text-center">{{ student.register_number }}</td>
              <td class="text-center">{{ student.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

